
.black {
  margin-left: -8rem;
  height: 100vh;
  width: 120%;
  background-color: black;
  opacity: 0.65;
  position: absolute;
  top: 0%;
  z-index: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.headmob{
  width: 100%;
  height: 105vh;
  background-image: url('back.jpg');
}

@media (max-width: 767px) {
  .headmob {
    display: block !important;
  }
}

.head{
  width: 100%;
  height: 100vh;
  text-align: center;
}

.head .container img {
  height: 50rem;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.headh1{
  color: orange;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
@media (max-width: 767px) {
  .head{
    display: none;
  }
}

.nav {
  height: 7.5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  text-align: center;
  position: fixed;
  top: 0%;
  display: none;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.imgcenter{
  <<<<<<< HEAD
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 500px !important;
}

.image {
  z-index: 1;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

.icocenter{
  margin-top: 30px;
  =======
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 200px !important;
}

.icocenter{
  margin-top: 100px;
  >>>>>>> 536a858ebe76dc518ab49bd45857e24bcf003db6
  margin-left: auto;
  margin-right: auto;
  height: 70px !important;
}

.nav img {
  margin-top: 2rem;
  height: 3.5rem;
  width: auto;
}

.intro {
  width: 100%;
  background-color: white;
  padding-bottom: 5rem;
  text-align: center;
}

.intro h1{
  margin-top: 7.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  display: block;
  color: #ffcc66;
  <<<<<<<
  =======
  >>>>>>> 536a858ebe76dc518ab49bd45857e24bcf003db6
  text-decoration: none;
}

.intro hr {
  width: 30%;
}

.intro p {
  text-align: justify;
  width: 95%;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  display: block;
  color: #333333;
  text-decoration: none;
}

.demo {
  text-align: center;
  width: 100%;
  background-color: #fafafa;
}

.demo h1{
  margin-top: 5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  display: block;
  color: #333333;
  <<<<<<< HEAD
  =======
  >>>>>>> 536a858ebe76dc518ab49bd45857e24bcf003db6
  text-decoration: none;

}

.demo p {
  padding-bottom: 5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  color: #ffcc66;
  text-decoration: none;
}

.demo a{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  display: inline-block;;
  color: #333333;
  text-decoration: none;
  margin-bottom: 5rem;
}

.scrshots {
  width: 100%;
  height:100vh;
  margin-top: 70px;
  background-color: white;
  margin: 0px;

}

.scrshots h1{
  padding-bottom: 5.5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  font-weight: 300;
  display: block;
  color: #ffcc66;
  text-decoration: none;
}

.features {
  width: 100%;
  background-color: #ffcc66;
  text-align: center;
  opacity: 1;
}

.features hr {
  width: 30%;
  opacity:;
}

.demo hr {
  width: 30%;
  opacity:;
}

.features p{
  font-size: 2rem;
}

.features .col-md-3 {
  margin-bottom: 10rem;
  text-align: center;
}

.features .col-md-3 h1{
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.features img {
  margin-top: 5rem;
  height: 7.5rem;
  width: auto;
}

.features h1{
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  display: block;
  color: white;
  text-decoration: none;
}

.features p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  display: block;
  color: white;
  text-decoration: none;
}

.headsets {
  width: 100%;
  background-color: #fafafa;
  text-align: center;
  opacity: 1;

}

.headsets h1{
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  <<<<<<< HEAD
  font-size: 5rem;
  =======
  font-size: 3rem;
  >>>>>>> 536a858ebe76dc518ab49bd45857e24bcf003db6
  font-weight: 300;
  display: block;
  color: black;
  text-decoration: none;

}

.headsets p{
  padding-bottom: 5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  color: #ffcc66;
  text-decoration: none;
}

.headsets hr {
  width: 30%;
}

.headsets a{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  display: inline-block;;
  color: #333333;
  text-decoration: none;
  margin-bottom: 5rem;
}

.headsets img {
  margin-top: -4rem;
  width: 90%;
  height: auto;
}

.Button {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Open Sans;
  color: #333333;
  font-size: 20px;
  background: #fafafa;
  border: 1px solid #333333;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 15rem;
}

.Button:hover {
  background: white;
  border: 1px solid #333333;
  color: white;
  background-color: #333333;
  text-decoration: none;
  transition: 0.8s;
}

.Button1 {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Open Sans;
  color: white;
  font-size: 20px;
  background: #ffcc66;
  border: 1px solid #ffcc66;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 15rem;
}

.Button1:hover {
  background: white;
  border: 1px solid #ffcc66;
  color: white;
  background-color: #ffcc66;
  text-decoration: none;
  transition: 0.8s;
}

.footer {
  width: 100%;
  height: auto;
  font-family: Open Sans;
  text-align: center;
  background-color: #222222;
  padding-bottom: 5%;
}

.social .container {
  width: 30rem;
  float: left;
  margin-left: 1%;
  margin-top: 10rem;
}

.social img {
  height: 3rem;
  width: 3rem;
}

.social img:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.links .container {
  width: 20rem;
  margin-top: 6rem;
  text-align: center;
  float: center;
}

.links h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

.links a:hover{
  color: white;
}

.contact .container {
  width: 20rem;
  margin-top: -11.25rem;
  float: right;
  margin-right: 5%;
}

.contact h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.contact p {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-left: 2rem;
}

.copyright {
  height: 7.5rem;
  background-color: #111111;
  width: 100%;
}

.copyright p {
  text-align: center;
  margin-top: 2.75rem;
  color: white;
  font-family: Open Sans;
}

.copyright {
  text-align: center;
  color: white;
  font-family: Open Sans;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  width: 90%;
  text-align: center;
}

.overlay-content iframe{
  width: 85rem;
  height: 49rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  text-decoration: none !important;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.wrapper {
  display: inline;
  z-index: 1;
  top: 30rem;
  position: absolute;
  margin-left: -8rem;
}

@media only screen and (max-width: 995px) {
  .links {
    display: none;
  }

  .contact {
    display: none;
  }

  .social .container {
    margin-top: 6rem;
    width: 100%;
    float: 0;
    margin-left: 1rem;
    text-align: center;
  }

  .social img {
    margin-bottom: 3rem;
    height: 4rem;
    width: 4rem;
  }

  .wrapper{
    margin-left: 15rem;
  }
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
